@page "/"
@using FRELODYUI.Shared.Pages.Play
@layout LandingLayout

<!--<span>Welcome to your new app running on <em>@factor</em> using <em>@platform</em></span>-->

<SongLibrary ShowSearch="@showSearch" ShowActions="@showActions" />

@code {
    private bool showSearch = false;
    private bool showActions = false;
}