
<div class="h-100 w-100 bg-light text-dark overflow-auto">
    <Board VerseId="@VerseId" OnSegmentsUpdate="@UpdateSegment" />
</div>

@code {
    [Parameter] public int VerseId { get; set; }
    [Parameter] public EventCallback<List<SegmentCreateDto>> OnSegmentsUpdate { get; set; }

    private async Task UpdateSegment(List<SegmentCreateDto> segments)
    {
        await OnSegmentsUpdate.InvokeAsync(segments);
    }
}