.songbook-container {
    width: 100%;
}

.songbook-header {
    padding: 10px;
    border: 2px solid var(--border-light);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--modal-content-bg);
}

.placeholder-toggle-icon {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    flex-shrink: 0;
}

.category-header {
    padding: 10px;
    border: 1.5px solid var(--border-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--modal-content-bg);
}

.songs-panel {
    overflow: hidden;
    background-color: var(--modal-content-bg);
}

.song-row {
    border: 1px solid var(--border-light);
    border-radius: 5px;
    min-height: 40px;
}
