@using System.Collections.Generic
@using System.Diagnostics.CodeAnalysis

@inject IJSRuntime JS

@typeparam T

<div id="@Id" class="@Class" style="@Style">
    @if (Items is not null)
    {
        @foreach (var item in Items)
        {
            @if (SortableItemTemplate is not null)
            {
                @SortableItemTemplate(item)
            }
        }
    }

    @ActionItemTemplate
</div>

@code {

    [Parameter]
    public RenderFragment<T>? SortableItemTemplate { get; set; }

    [Parameter]
    public RenderFragment? ActionItemTemplate { get; set; }

    [Parameter, AllowNull]
    public List<T> Items { get; set; }

    [Parameter]
    public EventCallback<(int oldIndex, int newIndex)> OnUpdate { get; set; }

    [Parameter]
    public EventCallback<(int oldIndex, int newIndex, string? toId)> OnRemove { get; set; }

    [Parameter]
    public string Id { get; set; } = Guid.NewGuid().ToString();

    [Parameter]
    public string Group { get; set; } = "segments";

    [Parameter]
    public string? Pull { get; set; }

    [Parameter]
    public bool Put { get; set; } = true;

    [Parameter]
    public bool Sort { get; set; } = true;

    [Parameter]
    public string Handle { get; set; } = string.Empty;

    [Parameter]
    public string? Filter { get; set; }

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public string? Style { get; set; }

    [Parameter] 
    public EventCallback<string> OnDropToRemove { get; set; }

    private DotNetObjectReference<SortableList<T>>? selfReference;

    private IJSObjectReference? module;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            selfReference = DotNetObjectReference.Create(this);
            module = await JS.InvokeAsync<IJSObjectReference>("import", "./_content/FRELODYUI.Shared/Pages/Common/SortableList.razor.js");
            await module.InvokeAsync<string>("init", Id, Group, Pull, Put, Sort, Handle, Filter, selfReference, Class, Style);
        }
        else
        {
            // Re-initialize remove buttons on each render (in case new ones were added)
            if (module != null)
            {
                await module.InvokeVoidAsync("reinitializeRemoveButtons", Group, selfReference);
            }
        }
    }

    [JSInvokable]
    public void OnUpdateJS(int oldIndex, int newIndex)
    {
        OnUpdate.InvokeAsync((oldIndex, newIndex));
    }

    [JSInvokable]
    public void OnRemoveJS(int oldIndex, int newIndex, string? toId = null)
    {
        if (toId != null && toId.StartsWith("sortable-segments-"))  // Cross-row move
        {
            OnRemove.InvokeAsync((oldIndex, newIndex, toId));
        }
        else if (newIndex == -1)  // Delete (but deletes are handled separately)
        {
            return;
        }
        else
        {
            OnRemove.InvokeAsync((oldIndex, newIndex,null));
        }
    }

    [JSInvokable]
    public void OnDropToRemoveJS(string segmentId)
    {
        // Notify parent that segment should be removed
        OnDropToRemove.InvokeAsync(segmentId);
    }

    public void Dispose() => selfReference?.Dispose();
}
