.landing-container {
    height: 100vh;
    overflow: hidden;
}

.landing-header {
    z-index: 1000;
    background-color: var(--bs-body-bg);
}

.landing-body {
    height: 0; /* Allows flex-grow to control height */
}

.landing-footer {
    flex-shrink: 0;
}

.btn-link {
    --bs-btn-hover-color: white;
    --bs-btn-active-color: var(--bs-warning);
    --bs-btn-color: var(--bs-warning);
}
